
<form method="post" action="Auth/users">
    <p>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
    </p>
    <p>
      <label for="Email">Email:</label>
      <input type="text" name="Email" id="Email">
    </p>
    <p>
      <label for="vorname">Vorname:</label>
      <input type="text" name="vorname" id="vorname">
    </p>
    <p>
      <label for="nachname">Nachname:</label>
      <input type="text" name="nachname" id="nachname">
    </p>
    <p>
      <label for="password">Password:</label>
      <input type="text" name="password" id="password">
    </p>

    <p>
      <label for="plz">Postleitzahl:</label>
      <input type="text" name="plz" id="plz">
    </p>

    <p>
      <label for="Stadt">Stadt:</label>
      <input type="text" name="Stadt" id="Stadt">
    </p>

    
    <p>
      <label for="Adresse">Adresse:</label>
      <input type="text" name="Adresse" id="Adresse">
    </p>

    <p>
      <input type="submit" value="Register">
    </p>
  </form>
  