<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Hello <%= name%></p>


    <form method="Get" action="/Auth/login/">
      Anmelden:
      <input type="submit" value="Login">
    </form>

    <form method="Get" action="/Auth/login/register">
      noch kein Konto?
      <input type="submit" value="Register">
    </form>


    <form method="Get" action="/users/change">
      <input type="submit" value="Register">
    </form>
      
  </body>
</html>
